:root{
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(images/bg-pattern-top-desktop.svg);
    font-family: 'Spartan',sans-serif;
}

.container{
    width: 85%;
    margin: 0 auto;
}

.container .top{
    display: flex;
    flex-wrap: row-wrap;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0;padding: 0;
}

.top .top-left{
    box-sizing: border-box;
    width: 50%;
    margin: 100px 50px;
    word-break: keep-all;
}

.top .top-left h1{
    color: var(--Very-Dark-Magenta);
    font-size: 50px;
    font-weight: 700;
}

.top .top-left p{
    color: var(--Dark-Grayish-Magenta);
    font-size: 20px;
    line-height: 1.5;
    padding-right: 12px; 
    margin-top: 0;
}

.top .top-right{
    width: 50%;
    margin-top: 100px;
}

.top-right .rating-section{
    display: flex;
    flex-wrap: wrap;
    height: 20px;
    background-color: var(--Light-Grayish-Magenta);
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 15px;
    align-items: center;
}

.top-right .rating-section h3{
    padding-left: 10px;
}

.top-right .rate-1{
    width: 80%;
}

.top-right .rate-2{
    width: 90%;
    margin-left: 25px;
}

.top-right .rate-3{
    width: 100%;
    margin-left: 45px;
}

.bottom {
    background-image: url(images/bg-pattern-bottom-desktop.svg);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.bottom .card-1, .card-2, .card-3{
    width: 350px;
    background-color: var(--Very-Dark-Magenta);
    padding: 10px;
    border-radius: 10px;
    word-break: keep-all;
    color: var(--White);
}

.bottom .card-1 .head,.card-2 .head,.card-3 .head{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

.bottom .card-1 .head .name,.card-2 .head .name,.card-3 .head .name{
    padding-left: 25px;
}

.bottom .card-1 .descriptio,.card-2 .descriptio,.card-3 .descriptio{
    padding: 10px;
    line-height: 1.5;
}

.card-1 .head img, .card-2 .head img,.card-3 .head img{
    border-radius: 50%;
    width: 50px;
}

.bottom .card-2{
    margin-top: 15px;
}

.bottom .card-3{
    margin-top: 25px;
}


@media screen and (max-width: 600px){
    
    *{
        margin: 0;
        padding: 0;
    }
    
    .contianer{
        width:100%;
    }
    
    .container .top{
        flex-wrap: wrap;
    }
    
    .top-right .rating-section{
        display: block;
    }
    
    .top-right .rating-section rate{
        position: absolute;
        align-items: center;
    }
    
    .top .top-left{
        width: 100%;
        margin: 0;
    }
    
    .top .top-right{
        width: 100%;
        margin: 0;
        align-items: center;
    }
    
    .top .top-right .rate-1, .rate-2, .rate-3{
        width:100%;
        margin:0;
    }
}




